

body {

    vertical-align: middle;

    width: 100%;
    margin: auto;

    text-align: center;
}

.container {
    vertical-align: middle;

    width: 100%;
    margin: auto;

    text-align: center;
}