

body {

    vertical-align: middle;

    width: 100%;
    margin: auto;

    text-align: center;
}

.container {
    vertical-align: middle;

    width: 100%;
    margin: auto;

    text-align: center;
}

.shopping{
    position: -webkit-sticky;
    position: sticky;
}

table.center{
    margin-left: auto;
    margin-right: auto;
}